.Rproj.user
.Rhistory
*.RData
.Ruserdata
.Rapp.history
.DS_Store
.snakemake
.cache
.nv
PRJNA*
analysis/figure
analysis/*png
analysis/*html
analysis/*_cache
analysis/site_libs
models/*
data/motifs-*
output/tables/paired_integrations-wo_signature/*
star_solo/*
velocity_solo/*
cellranger/*
cellbender/*
cellbender_velocyto/*
scrublet/*
piscem_spliceu/*
fastq/*
3M-february-2018.txt
*.sif
*.feather
*.h5
*.h5Seurat
*.h5seurat
*.h5ad
*.mtx
*.rds
*.tar
*.gz
*.pdf
